[submodule "arena_tools"]
	path = arena_tools
	url = https://github.com/voshch/arena-tools.git
[submodule "arena_isaac"]
	path = arena_isaac
	url = https://github.com/ivaROS/arena-isaac-5.git
[submodule "arena_evaluation"]
	path = arena_evaluation
	url = https://github.com/ivaROS/arena-evaluation-5.git
[submodule "arena_robots"]
	path = arena_robots
	url = https://github.com/ivaROS/arena-robots-5.git
